bin/RTB
obj/*
.vscode
.idea
/bin
.build
build*
/log
release
subprojects/libjson
subprojects/libvorbis*
subprojects/packagecache
subprojects/SDL2_*
subprojects/SDL2-*
subprojects/freetype-*
subprojects/libogg-*
subprojects/libpng*
subprojects/jsoncpp-*
